.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 85%;
  margin: 35px 100px 0 100px;
  z-index: 10;
}

.nav h1 {
  width: 200px;
}

.nav-logo {
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 40px;
}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons {
  color: white;
  font-family: "Creato Display";
  font-size: 18px;
}
