@font-face {
  font-family: "Creato Display";
  src: url(../../font/CreatoDisplay-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url(../../font/CreatoDisplay-LightItalic.otf);
  font-weight: 100;
  font-style: italic;
}
